* {
    font-family: sans-serif;
    touch-action: manipulation;
}

#screen {
    z-index: -1;
    position: absolute;
}

#wheelContainer {
    display: inline-flex;
    position: relative;
    overflow: hidden;
}

#wheel {
    display: block;
}

#spin {
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    margin: -15%;
    background: white;
    color: white;
    box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

#spin::after {
    content: "";
    position: absolute;
    top: -17px;
    border: 10px solid transparent;
    border-bottom-color: currentColor;
    border-top: none;
}

#logo {
    margin-top: 30px;
    width: 85%;
}

#logo img {
    width: 100%;
}

#resultDialog {
    z-index: 1;
    padding: 20px;
    display: none;
    position: absolute;
    text-align: center;
    opacity: 90%;
    color: white;
    background-color: #133880;
}

#resultText {
    margin: 20px;
    line-height: 35px;
    word-wrap: break-word;
}

.opacity {
    opacity: 15%;
}

.button {
    /* border thickness */
    --b: 3px;
    /* size of the corner */
    --s: .45em;
    --color: white;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    margin: 20px;
    border: 0;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.button:active {
    --color: #133880;
    color: var(--color);
}

.menu {
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

}

#menuButton {
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: #040404;
    position: absolute;
    text-align: center;
}

#menu {
    top: 40px;
    left: 15px;
    width: 200px;
    display: none;
    position: absolute;
    background-color: #040404;
}

.menuItem {
    padding: 15px;
    color: white;
    font-size: 20px;
    border-bottom: white solid;
}

#newListDialog,
#numberListDialog {
    z-index: 1;
    top: 5vh;
    left: 5vw;
    width: 90vw;
    height: 90vh;
    display: none;
    position: absolute;
    text-align: center;
    opacity: 90%;
    color: white;
    background-color: #1B4B93;
}

#newListInput {
    margin-top: 25px;
    width: 90%;
}

#numberListStart,
#numberListEnd {
    margin-top: 25px;
    width: 90%;
    height: 30px;
}